html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #e4e4e4;
  font-family: 'Fira Sans';
  font-size: 16px;
}

#app {
  width: 320px;
  height: 480px;
}

#app .shadow {
  position: absolute;
  background-color: #333;
  width: 100%;
  height: 100%;
}

#app .panel {
  position: absolute;
  transition: left 250ms ease-in-out, opacity 250ms ease-in-out;
  left: 100%;
  opacity: .5;
  width: calc(100% - 7px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#app .panel.active {
  left: 7px;
  opacity: 1;
}

#app .panel.obscured {
  left: 7px;
  opacity: 0.5;
}

#app .panel.static {
  width: 100%;
  left: 0;
}

#app span.in-menu {
  display: none;
}

#app header {
  background-color: #e4e4e4;
  padding: 5px;
}

#app header h1 {
  margin: 0;
  text-align: center;
}

#app .content {
  flex-grow: 2;
  overflow-y: auto;
  background-color: #ffffff;
}
#app .content p {
  margin: 1em 20px;
}
#app footer {
  background-color: #e4e4e4;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#app footer button {
  display: block;
  background-color: #eee;
  border: none;
  flex-grow: 1;
  font-family: 'Fira Sans';
  font-size: 16px;
  margin: 0;
  padding: 10px;
}

#app footer button:hover {
  background-color: #d4d4d4;
}

#app footer button:active {
  background-color: #d0d0d0;
}

/* narrow adaptation styles ----------- */

body.narrow {
  height: 100%;
}
.narrow #app {
  width: inherit;
  height: 100%;
}
.narrow #app .panel {
  width: 100%;
  height: 100%;
}
.narrow #app .panel.active {
  left: 0;
}
.narrow #app .panel.obscured {
  left: 0;
}
.narrow #app .content {
  font-size: 14px;
}
.narrow #app h1 {
  font-size: 1.2em;
}
.narrow #app span.in-menu {
  display: inline;
}
.narrow #app span.in-toolbar {
  display: none;
}
.narrow #app footer {
  height: 32px;
}
.narrow #app footer button {
  font-size: 12px;
}

/* Note: Media queries don't seem to work!
@media (max-width: 300px) {
  #app {
    width: inherit;
  }
  #app h1 {
    font-size: 1.2em;
  }
  #app span.in-menu {
    display: inline;
  }
  #app span.in-toolbar {
    display: none;
  }
}
*/
