html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#app {
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#app span.in-menu {
  display: none;
}
#app header {
  background-color: #eee;
  padding: 5px;
}
#app header h1 {
  margin: 0;
  text-align: center;
}
#app .content {
  border: 1px dashed #000;
  flex-grow: 2;
  overflow-y: auto;
}
#app .content p {
  margin: 1em 20px;
}
#app footer {
  background-color: #eee;
  height: 48px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
#app footer button {
  display: block;
  flex-grow: 1;
  font-size: 16px;
}

body.narrow {
  height: 100%;
}
.narrow #app {
  width: inherit;
  height: 100%;
}
.narrow #app .content {
  font-size: 14px;
}
.narrow #app h1 {
  font-size: 1.2em;
}
.narrow #app span.in-menu {
  display: inline;
}
.narrow #app span.in-toolbar {
  display: none;
}
.narrow #app footer {
  height: 32px;
}
.narrow #app footer button {
  font-size: 12px;
}

/* Note: Media queries don't seem to work!
@media (max-width: 300px) {
  #app {
    width: inherit;
  }
  #app h1 {
    font-size: 1.2em;
  }
  #app span.in-menu {
    display: inline;
  }
  #app span.in-toolbar {
    display: none;
  }
}
*/
